<launch>

  <arg name="rviz_config"
      default="$(find obst_avoid_viz)/config/default.rviz"/>
  <arg name="map_name" default="robotarium1"/>

  <!-- obstacle avoidance nodes -->
  <node name="trajectory_creator_node" pkg="obst_avoid" type="trajectory_creator_node.py" output="screen"/>
  <node name="trajectory_sampler_node" pkg="obst_avoid" type="trajectory_sampler_node.py" output="screen"/>
  <!-- <node name="example_publisher_node" pkg="obst_avoid" type="example_publisher_node.py" output="screen"/> -->

  <!-- VISUALIZATION NODES -->
  <!-- viz map -->
  <include
  file="$(find duckietown_visualization)/launch/publish_map.launch">
      <arg name="map_name" value="robotarium1"/>
      <arg name="rviz_config"
          value="$(find obst_avoid_viz)/config/default.rviz"/>
  </include>
  <!-- viz duckiebots -->
  <include
  file="$(find duckietown_visualization)/launch/publish_duckiebots.launch">
      <arg name="duckiebot_list"
          value="$(find obst_avoid_viz)/config/visualized_duckiebots.yaml"/>
  </include>
  <!-- static tf for duckiebot base -->
  <node pkg="tf"
      type="static_transform_publisher"
      name="map_to_duckiebot_link_broadcaster"
      args="1 1 0 0 0 0 map duckiebot_link 100" />


  <node name="duck_viz" pkg="obst_avoid_viz" type="duck_viz_node" output="screen"/>
  <node name="path_viz" pkg="obst_avoid_viz" type="path_viz_node.py" output="screen"/>

  <!-- nodes from the simulation -->
  <node name="fleet_planner_wrapper_node" pkg="obst_avoid" type="fleet_planner_wrapper_node.py" output="screen"/>
  <node name="flock_simulator_node" pkg="flock_simulator" type="flock_simulator_node.py" output="screen"/>
  <node name="flock_planner_node" pkg="flock_planner" type="flock_planner_node.py" output="screen"/>


</launch>
