<launch>

  <arg name="rviz_config"
      default="$(find obst_avoid_viz)/config/default.rviz"/>
  <arg name="map_name" default="robotarium1"/>
  <arg name="n_duckies" default="5"/>

  <!-- OBSTACLE AVOIDANCE NODES -->
  <node name="trajectory_creator_node" pkg="obst_avoid" type="trajectory_creator_node.py" output="screen"/>
  <node name="trajectory_sampler_node" pkg="obst_avoid" type="trajectory_sampler_node.py" output="screen"/>
  <!-- <node name="example_publisher_node" pkg="obst_avoid" type="example_publisher_node.py" output="screen"/> -->


  <!-- SIMULATION NODES -->
  <include file="$(find flock_simulator)/launch/flock_simulator.launch">
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="n_duckies" value="$(arg n_duckies)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
  </include>
  <node name="fleet_planner_wrapper_node" pkg="obst_avoid" type="fleet_planner_wrapper_node.py" output="screen"/>

  <!-- VISUALIZATION NODES -->
  <node name="duck_viz" pkg="obst_avoid_viz" type="duck_viz_node" output="screen"/>
  <node name="path_viz" pkg="obst_avoid_viz" type="path_viz_node.py" output="screen"/>

</launch>
